<div class="welcome-container">
  <h1 class="welcome-title">Hello World! Welcome to My Blog</h1>
  <div class="link-container">
    <p><%= link_to "My Blog", controller: :articles %></p>
  </div>
</div>
