// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-size: 3.375;
  background: #232f4e;
  color: #fff;
}

.link-container {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.link-container p {
  margin: 0 20px;
  border: 1px solid black;
  padding: 20px 50px;
  background: darkgray;
}

.link-container p a {
  color: #000;
  font-weight: bold;
  font-size: 24px;
}
